<dialog id="myModal" class="modal fades">
  <div class="modal-head">
    <h4 class="modal-top alert-text">User Details View</h4>
    <button type="button" class="xbtn" (click)="closemodal()">&times;</button>
  </div>
  <div class="modal-content">
    <div class="modal-body formclass">
      <h3>Basic Details</h3>
      <p><b>Father Name:</b> Ram Kumar</p>
      <p><b>Mother Name:</b> Savitha</p>
      <p><b>Blood Group:</b> O +ve</p>
      <p><b>DOB:</b> 09/05/1999</p>
      <h3>Emergency Contact</h3>
        <p><b>Name:</b> Ram Kumar</p>
        <p><b>Relation:</b> Father</p>
        <p><b>Phone Number:</b>9840284118</p>
    </div>
    <div class="flexform" *ngIf="status==='Rejected'">
      <h4>Reason for Rejection:</h4>
      <h4 class="invalid-feedback">Map coordinates are not pointing to the given address
      </h4>
    </div>
    <div class="modal-foot-right">
      <button type="button" *ngIf="status=== 'Completed' || 'Rejected' && status !== 'Pending'" class="button-group"
        (click)="closemodal()">Close</button>
      <button type="button" *ngIf="status=== 'Pending'" class="button-group"
        (click)="closemodalapprove()">Approve</button>
      <button type="button" *ngIf="status=== 'Pending'" class="button-group"
        (click)="closemodalreject()">Reject</button>

    </div>

  </div>
</dialog>