<dialog id="myModal" class="modal fades">
  <div class="modal-head">
    <h4 class="modal-top alert-text">User Details View</h4>
    <button type="button" class="xbtn" (click)="closeNotificationModal(false)">&times;</button>
  </div>
  <div class="modal-content">
    <div class="modal-body form-class">

      <div id="basicDetails">
        <div style="display: flex;">
          <h3>Basic Details</h3>
          <button type="button" *ngIf="!basicDetails" class="view" (click)="openDetails('Basic')"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
          <button type="button" *ngIf="basicDetails" class="view" (click)="openDetails('Address')"><i
              class="fa fa-minus-circle" aria-hidden="true"></i></button>
        </div>
        <div [ngClass]="{'grid-col':basicDetails===true ,'tab': basicDetails===false}">
          <div class="grid-row">
            <p><b>Blood Group:</b> {{employeedetails.basicDetails.bloodGroup}}</p>
            <p><b>DOB:</b> {{employeedetails.basicDetails.dob}}</p>
            <p><b>Gender:</b> {{employeedetails.basicDetails.gender}}</p>
          </div>
          <div class="grid-row">
            <p><b>SSLC:</b> {{employeedetails.basicDetails.SSLC}} %</p>
            <p><b>HSC:</b> {{employeedetails.basicDetails.HSC}} %</p>
            <p><b>UG:</b> {{employeedetails.basicDetails.UG}} CGPA</p>
          </div>
          <div class="grid-row-2">
            <p><b>Father Name:</b> {{employeedetails.basicDetails.fatherName}}</p>
            <p><b>Mother Name:</b> {{employeedetails.basicDetails.motherName}}</p>
          </div>
          <div class="grid-row-2">
            <p><b>Mobile:</b> {{employeedetails.basicDetails.ContactNumber}}</p>
            <p><b>Aadhar:</b> {{employeedetails.basicDetails.aadharNumber}}</p>
          </div>
          <hr />
          <h4 class="sub-heading">Emergency Contact</h4>
          <div class="grid-row">
            <p><b>Name:</b> {{employeedetails.basicDetails.emergencyContactName}}</p>
            <p><b>Relation:</b> {{employeedetails.basicDetails.emergencyContactRelation}}</p>
            <p><b>Contact:</b> {{employeedetails.basicDetails.emergencyContactNumber}}</p>
          </div>
        </div>
      </div>

      <div id="addressDetails">
        <div style="display: flex;">
          <h3>Address Details</h3>
          <button type="button" *ngIf="!addressDetails" class="view" (click)="openDetails('Address')"><i
              class="fa fa-plus-circle" aria-hidden="true"></i></button>
          <button type="button" *ngIf="addressDetails" class="view" (click)="openDetails('Basic')"><i
              class="fa fa-minus-circle" aria-hidden="true"></i></button>
        </div>


        <div [ngClass]="{'grid-col':addressDetails===true ,'tab': addressDetails===false}">
          <h4 class="sub-heading">Present Address</h4>
          <div class="grid-row">
            <p><b>Building No/Flat Name:</b> {{employeedetails.addressDetails.presentAddress.buildingName}}</p>
            <p><b>Street:</b> {{employeedetails.addressDetails.presentAddress.streetName}}</p>
            <p><b>Area:</b> {{employeedetails.addressDetails.presentAddress.area}}</p>
          </div>
          <div class="grid-row">
            <p><b>City:</b> {{employeedetails.addressDetails.presentAddress.city}}</p>
            <p><b>State:</b> {{employeedetails.addressDetails.presentAddress.state}}</p>
            <p><b>Country:</b> {{employeedetails.addressDetails.presentAddress.country}}</p>
          </div>
          <div class="grid-row-2">
            <p><b>Map:</b> {{employeedetails.addressDetails.presentAddress.mapCoordinates}}</p>
            <p><b>Pincode:</b> {{employeedetails.addressDetails.presentAddress.pinCode}}</p>
          </div>
          <hr />
          <h4 class="sub-heading">Permanent Address</h4>
          <div class="grid-row">
            <p><b>Building No/Flat Name:</b> {{employeedetails.addressDetails.permanentAddress.buildingName}}</p>
            <p><b>Street:</b> {{employeedetails.addressDetails.permanentAddress.streetName}}</p>
            <p><b>Area:</b> {{employeedetails.addressDetails.permanentAddress.area}}</p>
          </div>
          <div class="grid-row">
            <p><b>City:</b> {{employeedetails.addressDetails.permanentAddress.city}}</p>
            <p><b>State:</b> {{employeedetails.addressDetails.permanentAddress.state}}</p>
            <p><b>Country:</b> {{employeedetails.addressDetails.permanentAddress.country}}</p>
          </div>
          <div class="grid-row-2">
            <p><b>Map:</b> {{employeedetails.addressDetails.permanentAddress.mapCoordinates}}</p>
            <p><b>Pincode:</b> {{employeedetails.addressDetails.permanentAddress.pinCode}}</p>
          </div>
        </div>
      </div>


      <div class="flex-form" *ngIf="employeedetails.Status==='Rejected'">
        <h4>Reason for Rejection:</h4>
        <h4 class="invalid-feedback"> {{employeedetails.reasonForRejection}}</h4>
      </div>
      <div class="modal-foot-right">
        <button type="button"
          *ngIf="employeedetails.Status == 'Completed' || 'Rejected' && employeedetails.Status !== 'Pending'"
          class="button-group" (click)="closeNotificationModal(false)">Close</button>
        <button type="button" *ngIf="employeedetails.Status == 'Pending'" class="button-group"
          (click)="closemodalapprove(employeedetails.EmpId)">Approve</button>
        <button type="button"  style="margin-right: 25px" *ngIf="employeedetails.Status == 'Pending'" class="button-group"
          (click)="closeNotificationModal(true)">Reject</button>
      </div>
    </div>
  </div>
</dialog>