.scroll-to-top {
    margin-top: 70px;
    position: inherit;
    bottom: 50px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
   }
   .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }
   .button-active{
    background:#2F5D62;
    color: white;
    border: none;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
   }