<div>
    <app-header></app-header>
    <div style="margin-top: 103px;">
        <div class="class1">
            <ul class="progressbar">
                <li [ngClass]="{'step':current===1 ,'active': current ===0}">Basic Details</li>
                <li [ngClass]="{'step':current===0 ,'active': current ===1}">Address</li>
            </ul>
        </div>

        <form id="regForm" [formGroup]="registrationForm">
            <div [ngClass]="{'tab': current === 1}" formGroupName="userDetails">
                <div class="wholefieldset">
                    <h3 id="basictag" style="background-color:#2F5D62 ;height:50px;">
                        <h3 id="one">Basic Details</h3>
                    </h3>
                    <fieldset id="field1">

                        <div class="container">
                            <label for="FirstName" id="f1"><b>First Name</b></label>
                            <input type="text"
                                [ngClass]="{'alert':submitted && firstName?.errors?.required || firstName?.errors?.pattern}"
                                placeholder="Enter First Name" name="firstName" formControlName="firstName" required>
                        </div>
                        <div>
                            <span *ngIf="(firstName?.errors?.required) && submitted" class="invalid-feedback">*First name is required</span>
                            <span *ngIf="firstName?.errors?.pattern" class="invalid-feedback">*First name should contain alphabets only</span>
                        </div>

                        <div class="container">
                            <label for="LastName"><b>Last Name</b></label>
                            <input type="text"
                                [ngClass]="{'alert':submitted && lastName?.errors?.required || lastName?.errors?.pattern}"
                                placeholder="Enter Last Name" name="lname" formControlName="lastName" required>
                        </div>
                        <div>
                            <span *ngIf="lastName?.errors?.required && submitted" class="invalid-feedback">*Last Name is required </span>
                            <span *ngIf="lastName?.errors?.pattern" class='invalid-feedback'>*Last name should contain
                                alphabets
                                only</span>
                        </div>

                        <div class="container">
                            <label for="PhoneNumber"><b>Contact Number</b></label>
                            <input type="tel"
                                [ngClass]="{'alert':submitted && phoneNumber?.errors?.required || phoneNumber?.errors?.pattern}"
                                placeholder="Enter Contact Number" name="phoneNumber" formControlName="phoneNumber" required>
                        </div>


                        <div>
                            <span *ngIf="phoneNumber?.errors?.required && submitted" class="invalid-feedback">*Phone Number is
                                required </span>
                            <span *ngIf="phoneNumber?.errors?.pattern" class="invalid-feedback">*Enter valid Phone Number</span>
                        </div>



                        <div class="container">
                            <label for="EmailID"><b>Email ID</b></label>
                            <input type="text"
                                [ngClass]="{'alert':submitted && emailID?.errors?.required || emailID?.errors?.pattern}"
                                placeholder="Enter Email ID" name="email" id="email" formControlName="emailID">
                        </div>


                        <div>
                            <span *ngIf="emailID?.errors?.required && submitted " class="invalid-feedback">*Email ID is
                                required
                            </span>
                            <span *ngIf="emailID?.errors?.email" class="invalid-feedback">*Enter valid Email ID</span>
                        </div>


                        <div class="container">
                            <label for="blood"><b>Blood Group</b></label>
                    <select id="bloodGroup" class="blood-select"  placeholder="Enter Blood Group" formControlName="bloodGroup" [ngClass]="{'alert':submitted && bloodGroup?.errors?.required}" name="bloodGroup">
                            <option value="">--- Please select ---</option>
                            <option value="O+ve">O +ve</option>
                            <option value="O-ve">O -ve</option>
                            <option value="B+ve">B +ve</option>
                            <option value="B-ve">B -ve</option>
                            <option value="A+ve">A +ve</option>
                            <option value="A-ve">A -ve</option>
                            <option value="AB+ve">AB +ve</option>
                            <option value="AB-ve">AB -ve</option>
                           
                        </select>
                        </div>
                        <div>
                            <span *ngIf="bloodGroup?.errors?.required && submitted " class="invalid-feedback">*Blood
                                group is required
                            </span>

                        </div>


                        <div class="container">
                            <label for="aadhar"><b>Aadhar Number</b></label>
                            <input type="text"
                                [ngClass]="{'alert':submitted && aadharNumber?.errors?.required || aadharNumber?.errors?.pattern || aadharNumber?.errors?.minlength || aadharNumber?.errors?.maxlength }"
                                placeholder="Enter Aadhar Number" name="aadharNumber" id="aadharNumber" formControlName="aadharNumber">
                        </div>

                        <div>
                            <span *ngIf="aadharNumber?.errors?.required && submitted " class="invalid-feedback">*Aadhar number is
                                required</span>
                            <span *ngIf="aadharNumber?.errors?.pattern" class="invalid-feedback">*Aadhar number should contain
                                digits only</span>
                            <span *ngIf="aadharNumber?.errors?.minlength || aadharNumber?.errors?.maxlength "
                                class="invalid-feedback">Aadhar number
                                should contain 12 digits</span>
                        </div>

                        <div class="container">
                            <label for="dob"><b>Date Of Birth</b></label>
                            <input type="date" [ngClass]="{'alert':submitted && dob?.errors?.required}"
                                 name="dob" id="dob" formControlName="dob">
                        </div>

                        <div>
                            <span *ngIf="dob?.errors?.required && submitted " class="invalid-feedback">*Date of birth is
                                required</span>
                        </div>

                        <div class="radio">
                            <label for="gender" class="genderlabel"><b>Gender</b></label>
                            <input type="radio" id="male" name="gender" value="male" formControlName="gender">
                            <p class="paragraphgender">Male</p>
                            <input type="radio" id="female" name="gender" value="female" formControlName="gender">
                            <p class="paragraphgender">Female</p>
                        </div>
                        <div>
                        <span *ngIf="gender?.invalid && submitted" class="invalid-feedback">*Gender is required</span>
                    </div>
                        <div class="container">
                            <label for="sslc"><b>SSLC Score</b></label>
                            <input type="text" [ngClass]="{'alert':submitted && sslc?.errors?.required}"
                                placeholder="Percentage or CGPA" name="sslc" id="sslc" formControlName="sslc">
                        </div>

                        <div>
                            <span *ngIf="sslc?.errors?.required && submitted " class="invalid-feedback">*SSLC score is
                                required </span>

                        </div>

                        <div class="container">
                            <label for="hsc"><b>HSC Score</b></label>
                            <input type="text" [ngClass]="{'alert':submitted && hsc?.errors?.required}"
                                placeholder="Percentage or CGPA" name="hsc" id="hsc" formControlName="hsc">
                        </div>

                        <div>
                            <span *ngIf="hsc?.errors?.required && submitted " class="invalid-feedback">*HSC score is
                                required </span>

                        </div>

                        <div class="container">
                            <label for="ug"><b>UG Score</b></label>
                            <input type="text" [ngClass]="{'alert':submitted && ug?.errors?.required }"
                                placeholder="Percentage or CGPA" name="ug" id="ug" formControlName="ug">
                        </div>

                        <div>
                            <span *ngIf="ug?.errors?.required && submitted " class="invalid-feedback">*UG score is
                                required </span>

                        </div>

                        <div class="container">
                            <label for="fatherName"><b>Father's Name</b></label>
                            <input type="text"
                                [ngClass]="{'alert':submitted && fatherName?.errors?.required || fatherName?.errors?.pattern}"
                                placeholder="Enter Father's Name" name="fatherName" id="fatherName"
                                formControlName="fatherName">
                        </div>

                        <div>
                            <span *ngIf="fatherName?.errors?.required && submitted " class="invalid-feedback">*Father
                                name is required
                            </span>
                            <span *ngIf="fatherName?.errors?.pattern" class="invalid-feedback"> Father name should
                                contain alphabets
                                only </span>
                        </div>

                        <div class="container">
                            <label for="motherName"><b>Mother's Name</b></label>
                            <input type="text"
                                [ngClass]="{'alert':submitted && motherName?.errors?.required || motherName?.errors?.pattern}"
                                placeholder="Enter Mother's Name" name="motherName" id="motherName"
                                formControlName="motherName">
                        </div>

                        <div>
                            <span *ngIf="motherName?.errors?.required && submitted " class="invalid-feedback"> Mother
                                Name is required
                            </span>
                            <span *ngIf="motherName?.errors?.pattern" class="invalid-feedback">*Mother Name should
                                contain alphabets
                                only</span>
                        </div>

                        <h3 class="sub-division">
                            <h3 id="two">Emergency Contact</h3>
                        </h3>
                        <div class="container">
                            <label for="emergencyContactName"><b>Name</b></label>
                            <input type="text"
                                [ngClass]="{'alert':submitted && emergencyContactName?.errors?.required || emergencyContactName?.errors?.pattern}"
                                placeholder="Name Of the Person" name="emergencyContactName" id="emergencyContactName" formControlName="emergencyContactName">
                        </div>
                        <div>
                            <span *ngIf="emergencyContactName?.errors?.required && submitted " class="invalid-feedback">*Emergency
                                contact name is
                                required </span>
                            <span *ngIf="emergencyContactName?.errors?.pattern" class="invalid-feedback">*This field should contain
                                alphabets
                                only</span>
                        </div>

                        <div class="container">
                            <label for="relation"><b>Relationship</b></label>
                            <input type="text" placeholder="Relationship" name="relation" id="relation"
                                [ngClass]="{'alert':submitted && relation?.errors?.required || relation?.errors?.pattern}"
                                formControlName="relation">
                        </div>

                        <div>
                            <span *ngIf="relation?.errors?.required && submitted " class="invalid-feedback">*Emergency
                                relation is
                                required </span>
                            <span *ngIf="relation?.errors?.pattern" class="invalid-feedback">*This field should contain
                                alphabets
                                only</span>
                        </div>

                        <div class="container" id="present">
                            <label for="emergencyContactNumber"><b>Contact Number</b></label>
                            <input type="tel" placeholder="Enter Contact Number" name="emergencyContactNumber" id="emergencyContactNumber"
                                [ngClass]="{'alert':submitted && emergencyContactNumber?.errors?.required || emergencyContactNumber?.errors?.pattern}"
                                formControlName="emergencyContactNumber">
                        </div>

                        <div>
                            <span *ngIf="emergencyContactNumber?.errors?.required && submitted " class="invalid-feedback">*Emergency
                                contact is
                                required </span>
                            <span *ngIf="emergencyContactNumber?.errors?.pattern" class="invalid-feedback">*Emergency contact should
                                contain numbers
                                only</span>
                        </div>

                    </fieldset>
                </div>

                <button type="button" class="firstbutton" id="nextBtn" (click)="validateBaseDetails(1)">Next</button>

            </div>


            <div [ngClass]="{'tab': current === 0}" formGroupName="addressDetails">
                <div class="wholefieldset1">
                    <h3 id="basictag" style="background-color:#2F5D62 ;height:50px;">
                        <h3 id="one">Present Address</h3>
                    </h3>
                    <fieldset id="field1">
                        <div class="row">
                            <ng-container formGroupName='presentAddress'>
                                <div class="column1">

                                    <div class="container">
                                        <label for="presentflatname"><b>Building No/Flat Name</b></label>
                                        <input type="text" placeholder="Enter Building No /Flat Name"
                                            name="presentflatname"
                                            [ngClass]="{'alert':submitted && registrationForm.get('addressDetails.presentAddress.flatName')?.errors?.required}"
                                            formControlName="flatName">
                                    </div>
                                    <span
                                        *ngIf="registrationForm.get('addressDetails.presentAddress.flatName')?.errors?.required && submitted "
                                        class="invalid-feedback">*Present Flat name is required </span>


                                    <div class="container">
                                        <label for="presentstreetname"><b>Street</b></label>
                                        <input type="text" placeholder="Enter Street" name="presentstreetname"
                                            [ngClass]="{'alert':submitted && registrationForm.get('addressDetails.presentAddress.streetName')?.errors?.required}"
                                            formControlName="streetName">
                                    </div>

                                    <span
                                        *ngIf="registrationForm.get('addressDetails.presentAddress.streetName')?.errors?.required && submitted "
                                        class="invalid-feedback">*Present Street Name is required</span>

                                    <div class="container">
                                        <label for="presentarea"><b>Area</b></label>
                                        <input type="text" placeholder="Area" name="presentarea" formControlName="area"
                                            [ngClass]="{'alert':submitted && registrationForm.get('addressDetails.presentAddress.area')?.errors?.required}">
                                    </div>

                                    <span
                                        *ngIf="registrationForm.get('addressDetails.presentAddress.area')?.errors?.required && submitted "
                                        class="invalid-feedback">*Present Area is required</span>




                                    <div class="container">
                                        <label for="presentcountry"><b>Country</b></label>
                                        <select name="presentcountry" class="countries" id="countryId"
                                            [ngClass]="{'alert':submitted && registrationForm.get('addressDetails.presentAddress.country')?.errors?.required}"
                                            formControlName="country" #mySelect
                                            (change)='onChangeCountry(mySelect.value)'>

                                            <option value="">Select country...</option>
                                            <option *ngFor="let country of countryInfo;let i = index" value="{{i}}">
                                                {{country.CountryName}}</option>
                                        </select>
                                    </div>
                                    <span
                                        *ngIf="registrationForm.get('addressDetails.presentAddress.country')?.errors?.required && submitted "
                                        class="invalid-feedback">*Present Country is required</span>

                                </div>

                                <div class="column2">
                                    <div class="container">
                                        <label for="presentstate"><b>State</b></label>

                                        <select name="presentstate" class="states" id="stateId"
                                            formControlName="state"
                                            [ngClass]="{'alert':submitted && registrationForm.get('addressDetails.presentAddress.state')?.errors?.required}">
                                            <option value="">Select state...</option>
                                            <option *ngFor="let state of stateInfo;let i = index" value="{{i}}">
                                                {{state.StateName}}</option>
                                        </select>
                                    </div>
                                    <span
                                        *ngIf="registrationForm.get('addressDetails.presentAddress.state')?.errors?.required && submitted "
                                        class="invalid-feedback-state">*Present State is required</span>

                                    <div class="container">
                                        <label for="presentcity"><b>District</b></label>
                                        <input type="text" placeholder="City" name="presentcity" id="presentcity"
                                            formControlName="city"
                                            [ngClass]="{'alert':submitted && registrationForm.get('addressDetails.presentAddress.city')?.errors?.required}">

                                    </div>
                                    <span
                                        *ngIf="registrationForm.get('addressDetails.presentAddress.city')?.errors?.required && submitted "
                                        class="invalid-feedback">*Present City is required</span>

                                    <div class="container">
                                        <label for="presentmapcoordinates"><b>Map Coordinates</b></label>
                                        <input type="text" placeholder="Enter Map Coordinates"
                                            id="presentmapcoordinates" formControlName="mapCoordinates"
                                            id="presentmapcoordinates"
                                            [ngClass]="{'alert':submitted && registrationForm.get('addressDetails.presentAddress.mapCoordinates')?.errors?.required}"
                                            style="width: 350px;">
                                    </div>

                                    <span
                                        *ngIf="registrationForm.get('addressDetails.presentAddress.mapCoordinates')?.errors?.required && submitted "
                                        class="invalid-feedback">*Present map coordinates is required </span>


                                    <div class="container">
                                        <label for="presentpincode"><b>Pincode</b></label>
                                        <input type="text" placeholder="Pincode" name="presentpincode"
                                            id="presentpincode"
                                            [ngClass]="{'alert':submitted && registrationForm.get('addressDetails.presentAddress.pinCode')?.errors?.required || registrationForm.get('addressDetails.presentAddress.pinCode')?.errors?.pattern}"
                                            formControlName="pinCode">
                                    </div>

                                    <span
                                        *ngIf="registrationForm.get('addressDetails.presentAddress.pinCode')?.errors?.required && submitted "
                                        class="invalid-feedback"> *Pincode is required </span>
                                    <span
                                        *ngIf="registrationForm.get('addressDetails.presentAddress.pinCode')?.errors?.pattern"
                                        class="invalid-feedback">*Pincode should contain numbers only</span>


                                </div>
                            </ng-container>
                        </div>
                        <div class="container">
                            <input type="checkbox" value="" class="checkboxstyle" [formControl]="isSameAddressControl">

                            <b class="acknowledgement" style="width: 800px;float: left;">Select this Checkbox if the
                                present
                                and permanent addresses are
                                same</b>
                        </div>


                        <h3 class="sub-division">
                            <h3 id="three">Permanent Address</h3>
                        </h3>
                        <br>
                        <div class="row">
                            <ng-container formGroupName='permanentAddress'>
                                <div class="column1">

                                    <div class="container">
                                        <label for="permanentflatname"><b>Building No/Flat Name</b></label>
                                        <input type="text" placeholder="Enter Building No /Flat Name"
                                            name="permanentflatname"
                                            [ngClass]="{'alert':submitted && registrationForm.get('addressDetails.permanentAddress.flatName')?.errors?.required}"
                                            id="permanentflatname" formControlName="flatName">
                                    </div>

                                    <span
                                        *ngIf="registrationForm.get('addressDetails.permanentAddress.flatName')?.errors?.required && submitted "
                                        class="invalid-feedback">*Permanent Flat name is required </span>

                                    <div class="container">
                                        <label for="permanentstreetname"><b>Street</b></label>
                                        <input type="text" placeholder="Enter Street" name="permanentstreetname"
                                            [ngClass]="{'alert':submitted && registrationForm.get('addressDetails.permanentAddress.streetName')?.errors?.required}"
                                            id="permanentstreetname" formControlName="streetName">
                                    </div>
                                    <span
                                        *ngIf="registrationForm.get('addressDetails.permanentAddress.streetName')?.errors?.required && submitted "
                                        class="invalid-feedback">*Permanent Street name is required </span>


                                    <div class="container">
                                        <label for="permanentarea"><b>Area</b></label>
                                        <input type="text" placeholder="Area" name="permanentarea" id="permanentarea"
                                            formControlName="area"
                                            [ngClass]="{'alert':submitted && registrationForm.get('addressDetails.permanentAddress.area')?.errors?.required}">
                                    </div>
                                    <span
                                        *ngIf="registrationForm.get('addressDetails.permanentAddress.area')?.errors?.required && submitted "
                                        class="invalid-feedback">*Permanent area is required </span>



                                    <div class="container">
                                        <label for="permanentcountry"><b>Country</b></label>
                                        <select name="permanentcountry" formControlName="country" class="countries"
                                            id="countryId" #mySelect
                                            [ngClass]="{'alert':submitted && registrationForm.get('addressDetails.permanentAddress.country')?.errors?.required}"
                                            (ngModelChange)='onChangeCountry(mySelect.value)'>
                                            <option value="">Select country...</option>
                                            <option *ngFor="let country of countryInfo;let i = index" value="{{i}}">
                                                {{country.CountryName}}</option>
                                        </select>

                                    </div>
                                    <span
                                        *ngIf="registrationForm.get('addressDetails.permanentAddress.country')?.errors?.required && submitted "
                                        class="invalid-feedback">*Permanent Country is required </span>

                                </div>

                                <div class="column2">
                                    <div class="container">
                                        <label for="permanentstate"><b>State</b></label>
                                        <select name="permanentstate" class="states" id="stateId"
                                            formControlName="state"
                                            [ngClass]="{'alert':submitted && registrationForm.get('addressDetails.permanentAddress.state')?.errors?.required}">
                                            <option value="">Select state...</option>
                                            <option *ngFor="let state of stateInfo;let i = index" value="{{i}}">
                                                {{state.StateName}}</option>
                                        </select>
                                        <br />



                                    </div>
                                    <span
                                        *ngIf="registrationForm.get('addressDetails.permanentAddress.state')?.errors?.required && submitted"
                                        class="invalid-feedback-state">*Permanent State is required
                                    </span>
                                    <div class="container">
                                        <label for="permanentcity"><b>District</b></label>
                                        <input type="text" placeholder="City" name="permanentcity" id="permanentcity"
                                            formControlName="city"
                                            [ngClass]="{'alert':submitted && registrationForm.get('addressDetails.permanentAddress.city')?.errors?.required}">
                                    </div>
                                    <span
                                        *ngIf="registrationForm.get('addressDetails.permanentAddress.city')?.errors?.required && submitted "
                                        class="invalid-feedback">*Permanent City is required</span>

                                    <div class="container">
                                        <label for="permanentmapcoordinates"><b>Map Coordinates</b></label>
                                        <input type="text" placeholder="Enter Map Coordinates"
                                            name="permanentmapcoordinates"
                                            [ngClass]="{'alert':submitted && registrationForm.get('addressDetails.permanentAddress.mapCoordinates')?.errors?.required}"
                                            id="permanentmapcoordinates" formControlName="mapCoordinates"
                                            style="width: 350px;">
                                    </div>

                                    <span
                                        *ngIf="registrationForm.get('addressDetails.permanentAddress.mapCoordinates')?.errors?.required && submitted "
                                        class="invalid-feedback">*Permanent map coordinates is required </span>

                                    <div class="container">
                                        <label for="permanentpincode"><b>Pincode</b></label>
                                        <input type="text" placeholder="Pincode" name="permanentpincode"
                                            id="permanentpincode" formControlName="pinCode"
                                            [ngClass]="{'alert':submitted && registrationForm.get('addressDetails.permanentAddress.pinCode')?.errors?.required || registrationForm.get('addressDetails.permanentAddress.pinCode')?.errors?.pattern}">
                                    </div>

                                    <span
                                        *ngIf="registrationForm.get('addressDetails.permanentAddress.pinCode')?.errors?.required && submitted "
                                        class="invalid-feedback">*Permanent pincode is required </span>
                                    <span
                                        *ngIf="registrationForm.get('addressDetails.permanentAddress.pinCode')?.errors?.pattern && submitted "
                                        class="invalid-feedback">*Pincode should contain digits only </span>
                                </div>
                            </ng-container>
                        </div>


                    </fieldset>

                   

                </div>
                <div class="secondbutton">

                    <button type="button" class="previousbtn" id="prevBtn" (click)="nextPrev(-1)">Previous</button>
                    <button type="button" class="submitbtn" id="nextBtn" (click)="finalSubmit()">Submit</button>
                    <button type="button" class="submitbtn" id="nextBtn" (click)="saveDraft()">Save</button>

                </div>
            </div>
        </form>
        <app-modals *ngIf="notify || draft" (closeEvent)="CloseNotification($event)" id="usernotified" 
            [Content]="notifyText"></app-modals>

    </div>
</div>