<div>
  <app-header></app-header>
  <div id="interface">
    <div class="heading-2">
      <h1>HR Dashboard</h1>
    </div>
    <div id="invitenew">
      <button class="button-group absolute-right" (click)="openform()" data-target="#createinvite">Create
        Invite</button>
    </div>
    <div id="request" style="margin: 85px 14px;margin-top: 85px;">
      <table id="requesttable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width: 100%;margin-top: 40px;">
        <thead style=" height:60px; margin-top: 30px;" >
          <tr>
            <th>Emp ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Created At</th>
            <th style="width: 200px;">Actions</th>
            <!-- style="width: 170px;" -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.EmpId }}</td>
            <td>{{ employee.Name }}</td>
            <td>{{ employee.Email }}</td>
            <td>{{employee.Status}}</td>
            <td>{{employee.CreatedAt}}</td>
            <td style="height: 50px;">

              <button
                *ngIf="employee.Status === 'Rejected' || employee.Status === 'Incomplete' || employee.Status !== 'Pending' && employee.Status !=='Completed'"
                class="button-group-small" data-target="#usernotified" (click)="opennotification()">Notify</button>
              <button *ngIf="employee.Status === 'Completed'" class="button-group-small" data-target="#editaccess"
                (click)="openedit()">Edit</button>
              <button *ngIf="employee.Status !== 'Incomplete'" type="button" class="view" data-target="#empdetailsview"
                (click)="openview(employee.Status)"><i class="fa fa-eye"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <app-modals *ngIf="notify || edit" (closeEvent)="CloseNotification($event)" id="usernotified" [Content]="notifyText"></app-modals>
      <app-inviteform *ngIf=invite (closeEvent)="closeform($event)" id="inviteform" [open]=invite></app-inviteform>
      <app-userdetailsview *ngIf=view id="userdetails" (closedetails)="closeview($event)"
        (rejectreason)="rejectview($event)" [status]=current></app-userdetailsview>
      
    </div>
    <dialog id="myModal" *ngIf=reject class="modal fades">
      <div class="modal-head">
        <h4 class="modal-top alert-text">Reason For Rejection</h4>
        <button type="button" class="modal-close-button" (click)="closemodal()">&times;</button>
      </div>
      <div class="modal-content">
        <div class="modal-body">
          <form [formGroup]="reasonForm" (ngSubmit)="submitreason()" class="formclass">
            <div class="flex-form">
              <textarea type="text" name="reason" rows="4" cols="40" formControlName="reason"
                [ngClass]="{'alert':isSubmitted && this.reason?.errors?.required}"
                placeholder="Reason for Rejection..."></textarea>
              <button type="submit" class="button-group-modal"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
            <span class="invalid-feedback" *ngIf="isSubmitted && this.reason?.errors?.required">
              <sup>*</sup>reason is required
            </span>
    
          </form>
          <div class="modal-foot-center">
            <button type="button" class="button-group-reject"
              (click)="prevstateview()">Back</button>
          </div>
    
        </div>
    
      </div>
    </dialog>
  </div>